.category-menu {
    background: #fff;
    &__heading {
        background: #2B8CDB;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 20px 0;
        font-size: 14px;
        font-weight: bold;
        border-radius: 4px 4px 0 0;
    }
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        background: #fff;
        border: 1px solid #c4bdbd;
        &-item {
            position: relative;
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #c4bdbd;
            font-size: .8rem;
            &:hover {
                background: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .05));
            }
            & a {
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
            &:hover>.category-menu__subcategory {
                display: block;
            }
        }
    }
    &__subcategory {
        position: absolute;
        ;
        left: 100%;
        top: 0;
        display: none;
        width: 100%;
        z-index: 999999;
    }
}