.brands {
    padding: 0;
    &__heading{
        text-align: center;
    }
    & img {
        width: 100%;
        padding: 0 5px;
    }
}

.brand {
    padding: 5px;
    &__wrapper {
        margin: 5px;
        border: 1px solid #edeef2;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 2px 2px 2px #edeef2 inset;
        & a:hover {
            text-decoration: none;
        }
    }
    &__description {
        margin: 0;
        background: #edeef2;
        color: #23a1d1;
        text-align: center;
    }
}