.masters {
    &__heading {
        text-align: center;
    }
    &__description {
        // display: flex;
        // justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }
    // &__img {
    //     margin-right: 15px;
    // }
    &__delivery {
        width: 50%;
        margin: auto;
        margin-bottom: 60px;
        & img {
            display: block;
            margin: auto;
        }
        @media screen and(max-width:767px) {
            width: 100%;
        }
    }
    &__master {
        & img {
            width: 100%;
        }
        .master-name {
            text-align: center;
        }
    }
    &__note {
        font-size: 10px;
    }
    &__highlight {
        font-size: 18px;
        font-weight: bold;
    }
}

.feedback {
    & .slick-slide {
        margin: 0 10px;
        box-shadow: 0px 4px 9px;
    }
    &__heading,
    &__description {
        @extend .masters__heading
    }
    &__description {
        margin-bottom: 60px;
    }
    & img {
        width: 100%;
    }
}
.delivery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    &__heading,
    &__description {
        @extend .masters__heading
    }
    &__row {
        display: flex;
        justify-content: space-between;
        & > img{
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    & img {
        // width: 20%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
    & .row__arrow {
        width: 15%;
        @media screen and (max-width: 768px) {
            transform: rotate(90deg);
        }
    }
    &__advantages {
        & .advantage {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 10px 0;
            & img {
                width: 100%;
                max-width: 30px;
                margin-right: 10px;
            }
            &__text{
                font-family:'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: bold;
            }
            @media screen and(max-width:767px){
                &:not(:last-child){
                    border-bottom:1px solid #ddd;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.contacts {
    margin-bottom: 40px;
    &__header {
        width: 100%;
        text-align: center;
        & .contacts__description {
            margin-bottom: 60px;
        }
    }
    &__inner{
        @include flex(space-between, flex-start)
    }
    &__center {
        & img {
            width: 100%;
            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        @media screen and (max-width: 767px) {
            order: 0;
        }
    }
    &__map{
        @media screen and (max-width: 767px) {
            order: 2;
        }
    }
    &__description{
        @media screen and (max-width: 767px) {
            order: 1;
            margin-bottom: 20px;
        }
    }
    &__heading,
    &__description {
        text-align: center;
        color: #000;
    }
}

.mySlide {
    & img {
        margin: 0 20px;
    }
    & .slick-track {
        display: flex;
        align-items: center;
    }
    & .slick-slide {
        transform: scale(0.8);
        transition: all .5s linear;
        opacity: .5;
    }
    & .slick-center {
        transform: scale(1);
        opacity: 1;
    }
}

.popupImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 9999999;
}

.popupImg img {
    width: 35%;
}

.popupImg__hidden {
    display: none;
}

.help-us{
    color:#fff;
    padding: 40px 0;
    &-wrapper{
        background:#141414;
    }
}

.seo-text{
    &__heading{
        text-align: center;
    }
    & p{
        margin-bottom: 30px;
    }
    & .seo-text__img{
        & img{
            width: 100%;
            border-radius: 20px;
            margin: 55px 0 35px;
        }
    }
    & &__button{
        margin-bottom: 35px;
    }
    &__list{
        font-family:'Montserrat', sans-serif;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: bold;
    }
    &__subheading{
        font-family:'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }
    &__important{
        text-align: center;
    }
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .popupImg img {
        width: 100%;
    }
}
