$blue:#0744f5;

.main-heading{
    text-align: center;
    margin-bottom: 30px;
    & h1{
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 25px;
        @media screen and(max-width:1200px){
            font-size:40px;
        }
        @media screen and(max-width:991px){
            font-size:32px;
        }
    }
    & .sub-heading{
        color:$blue;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 30px;
        @media screen and(max-width:1200px){
            font-size:20px;
        }
        @media screen and(max-width:991px){
            font-size:16px;
        }
    }
}

.advantages{
    margin-bottom: 50px;
    & img{
        width: 100%;
        border-radius: 30px;
    }
    &__text{
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 40px;
        @media screen and(max-width:1200px){
            font-size:16px;
        }
        @media screen and(max-width:991px){
            font-size:14px;
        }
        & span{
            color:$blue;
            font-size:24px;
            display: block;
            @media screen and(max-width:1200px){
                font-size:20px;
                width: 112%;
            }
            @media screen and(max-width:991px){
                font-size:16px;
                width:116%;
            }
        }
    }
    & .advantage{
        align-self: flex-end;
    }
    @media screen and(max-width:767px){
        margin-bottom: 20px;
    }
}
.video{
    margin-bottom: 30px;
    & img{
        width: 30%;
        transform: rotate(180deg);
    }
    & p{
        font-family:'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }
    &-description{
        align-items: center;
        flex-direction: column;
    }
}

.price{
    margin-bottom: 30px;
    &__heading{
        text-align: center;
    }
    &__table{
        background: #0744f5;
        color:#fff;
        &-cell{
            padding: 15px;
            padding-left: 25px;
            @media screen and(max-width:767px){
                border-bottom:1px solid #fff;
            }
        }
        &-row:first-child{
            border-bottom:1px solid #fff;
            @media screen and(max-width:767px){
                border:none;
            }
        }
        &-cell:first-child{
            border-right:1px solid #fff;
        }
    }
}